node_modules
**/node_modules
.next
out
build
.next/cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
!.env.example
.git
.gitignore
.DS_Store
*.swp
*.swo
.vscode
.idea
Dockerfile*
.dockerignore
prisma/*.db
prisma/dev.db
prisma/migrations/*-shadow*
